<style>
.list-inline li {
  width: 30%;
}
.content{
	display: inline-block;
	margin:10px;
}
.response_to_answer p{
	font-size: small;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="question">
        <div class="page-header">
          <h1><%= @question.title %></h1>
        </div>
        <div class="pull-left">
        	<button type="button" class="btn btn-info">Good 
        	<span class="badge badge-light">1</span>
        	</button>
        </div>
        
        <div class="content">
					<p><%= @question.content %></p>
        <button type="button" class="btn btn-secondary"><a href="#">tag名</a></button>
        <button type="button" class="btn btn-secondary"><a href="#">tag名2</a></button>
        </div>

      </div>
      <% if logged_in? %>
      	<% if current_user.id != @question.user_id%>
		      <div class="post-ansewer">
		      	<div class="form-group">
					    <%= form_for(@answer)  do |f|%>
					    	<%= f.text_area :content, :rows => "10", class: 'form-control' %>
					    	<%= f.hidden_field :question_id, :value => @question.id %>
					    	<%= f.submit '回答する', class: "btn btn-primary mb-2" %>
					    <% end %>
				  	</div>
	      	</div>
      	<% end %>
      	<% else %>
      		<%= link_to 'ログインして回答する', login_path, class: "btn btn-primary mb-2" %>
      <% end %>
      <div class="answer">
          <h2>回答<%= @question.answers.all.length %>件</h2>
        <hr>
        <% @question.answers.all.each do |answer| %>
        <div class="pull-left">
        	<button type="button" class="btn btn-info">Good <span class="badge badge-light">0</span></button>
        </div>
        <div class="content">
        	<p><%= simple_format(answer.content) %></p>
        </div>
         <br>
          <% if current_user.id == @question.user_id %>
	          <button class="btn btn-primary mb-2">回答に返信する</button>（質問者がログイン中の時）
	          <button class="btn btn-primary mb-2">ベストアンサーに選ぶ</button>（質問者がログイン中の時）
          <% end %>
        <hr>
        
        <% end %>
         <div class="response_to_answer">
	        <p>
	          回答に対する質問者の返信
	        </p>
	        <p>-------------------------------------------------------------</p>
	        <p>-------------------------------------------------------------</p>
	        <p>--------------------------------------------------------------------------------</p>
        </div>
        <hr>
       
      </div>
    </div>
    <div class="col-md-3">
      <h2>人気の質問</h2>
        <ol>
						<li class="list-item">
							1位の質問
						</li>
						<li class="list-item">
							2位の質問
						</li>
						<li class="list-item">
							3位の質問
						</li>
						<li class="list-item">
							4位の質問
						</li>
						<li class="list-item">
							5位の質問
						</li>
						<li class="list-item">
							6位の質問
						</li>
						<li class="list-item">
							7位の質問
						</li>
						<li class="list-item">
							・・・
						</li>
			  </ol>
					
					<h2>タグから探す</h2>
					<ul class="list-inline">
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="ist-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
						<li class="list-item list-inline-item">
							タグ名
						</li>
					</ul>
		</div>
  </div>
</div>