<style>
.list-inline li {
  width: 30%;
}
.content{
	display: inline-block;
	margin:10px;
}
.response_to_answer p{
	font-size: small;
	margin:10px;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="question">
        <div class="page-header">
          <h1><%= @question.title %></h1>
        </div>
        <div class="pull-left">
        			<%= form_tag question_likes_path do %>
		        		<%= hidden_field_tag :question_id, @question.id %>
		        		<%= submit_tag "Good", class: "btn btn-info" %>
		        		<span class="badge badge-light"><%= @question.question_likes.count %></span>
		        	<% end %>
        </div>
        
        <div class="content">
					<p><%= @question.content %></p>
        <button type="button" class="btn btn-secondary"><a href="#">tag名</a></button>
        <button type="button" class="btn btn-secondary"><a href="#">tag名2</a></button>
        </div>
      </div>
      
      <% if logged_in? %>
      	<% if current_user.id != @question.user_id%>
		      <div class="post-ansewer">
		      	<div class="form-group">
					    <%= form_for(@answer) do |f|%>
					    		<%= f.text_area :content, :rows => "10", class: 'form-control' %>
						    	<%= f.hidden_field :question_id, :value => @question.id %>
						    	<%= f.submit '回答する', class: "btn btn-primary mb-2" %>
					    	<% end %>
				  		</div>
	      		</div>
      		<% end %>
      	<% else %>
      		<%= link_to 'ログインして回答する', login_path, class: "btn btn-primary mb-2" %>
      <% end %>
      
	      <div class="answer">
	        <h2>回答<%= @question.answers.all.length %>件</h2>
	        <hr>
	        <% @question.answers.all.each do |answer| %>
		        <div class="pull-left">
		        	<%= form_tag answer_likes_path do %>
		        		<%= hidden_field_tag :answer_id, answer.id %>
		        		<%= submit_tag "Good", class: "btn btn-info" %>
		        		<span class="badge badge-light"><%= answer.answer_likes.count %></span>
		        	<% end %>
		        </div>
		        <div class="content">
		        	<p><%= simple_format(answer.content) %></p>
		        </div>
		        <br>
		        <% if logged_in? %>
			        <% if current_user.id == @question.user_id && !QuestionerResponse.exists?(answer_id: answer.id) %>
			        	<%= link_to '回答に返信する', new_questioner_response_path(answer_id: answer.id), class: 'btn btn-primary mb-2' %>
				        <button class="btn btn-primary mb-2">回答に返信する</button>（質問者がログイン中の時）
				        <button class="btn btn-primary mb-2">ベストアンサーに選ぶ</button>（質問者がログイン中の時）
		        	<% end %>
	        	<% end %> 
	        	<% if answer.questioner_response %>
	        	  <div class="response_to_answer bg-info">
	        	  	<%= simple_format("質問者からの返信\n" + answer.questioner_response.content) %>
	        		</div>
	        	<% end %>
	        <hr>
        <% end %>
        
         <div class="response_to_answer">
	        <p>
	          回答に対する質問者の返信
	        </p>
	        <p>-------------------------------------------------------------</p>
	        <p>-------------------------------------------------------------</p>
	        <p>--------------------------------------------------------------------------------</p>
        </div>
        <hr>
        
      </div>
    </div>
    <div class="col-md-3">
    	<%= render 'layouts/sidebar', model: @question %>
		</div>
  </div>
</div>