<style>
.list-inline li {
  width: 30%;
}
.content{
	display: inline-block;
	margin:10px;
}
.response_to_answer p{
	font-size: small;
	margin:10px;
}

.close_question {
	float: right;
}

.answer {
	padding-top: 30px;
}

.ansewer_list{
	padding-bottom: 50px;
}

</style>
<div class="container">
  <div class="row">
    <div class="col-md-9">
    	
      <div class="question">
        <div class="page-header">
          <h1><%= @question.title %></h1>
        </div>
        <div class="pull-left">
        			<%= form_tag question_likes_path do %>
		        		<%= hidden_field_tag :question_id, @question.id %>
		        		<%= submit_tag "Good", class: "btn btn-info" %>
		        		<span class="badge badge-light"><%= @question.question_likes.count %></span>
		        	<% end %>
        </div>
        
        <div class="content">
					<p><%= @question.content %></p>
	        <button type="button" class="btn btn-secondary"><a href="#">tag名</a></button>
	        <button type="button" class="btn btn-secondary"><a href="#">tag名2</a></button>
        </div>
      </div>
      <% if logged_in? %>
	      <% if current_user.id == @question.user_id && @question.is_open == 1%>
					<div class="close_question">
		       <%= link_to '質問を閉じる', question_path(id: @question.id), method: :put, data: {confirm: '本当に回答の受付を終了しますか？'}, class: "btn btn-primary" %>
					</div>
				<% end %>
			<% end %>
			
      <% if logged_in? %>
      	<% if current_user.id != @question.user_id && @question.is_open == 1 %>
		      <div class="post-ansewer">
		      	<div class="form-group">
					    <%= form_for(@answer) do |f|%>
					    		<%= f.text_area :content, :rows => "10", class: 'form-control' %>
						    	<%= f.hidden_field :question_id, :value => @question.id %>
						    	<%= f.submit '回答する', class: "btn btn-primary mb-2" %>
					    	<% end %>
				  		</div>
	      		</div>
      		<% end %>
      	<% else %>
      		<%= link_to 'ログインして回答する', login_path, class: "btn btn-primary mb-2" %>
      <% end %>
      
	      <div class="answer">
	        <h2>回答<%= @question.answers.all.length %>件</h2>
	        <hr>
	        
	        <% @question.answers.all.eager_load(:questioner_response).order("is_best_answer DESC").each do |answer| %>
	        <div class= "answer_list">
	        		<% if answer.is_best_answer == 1 %>
		        		<h2>ベストアンサー</h2>
		        	<% end %>
		        <div class="pull-left">
		        	<%= form_tag answer_likes_path do %>
		        		<%= hidden_field_tag :answer_id, answer.id %>
		        		<%= submit_tag "Good", class: "btn btn-info" %>
		        		<span class="badge badge-light"><%= answer.answer_likes.count %></span>
		        	<% end %>
		        </div>
		        <div class="content">
		        	<p><%= simple_format(answer.content) %></p>
		        </div>
		        <br>
		        <% if logged_in? %>
			        <% if current_user.id == @question.user_id %>
			        	<% if !QuestionerResponse.exists?(answer_id: answer.id) %>
			        		<%= link_to '回答に返信する', new_questioner_response_path(answer_id: answer.id), class: 'btn btn-primary mb-2' %>
			        	<% end %>
			        	<% if !best_answer_has_already_chosen?(@question.id) %>
				        	<%= link_to 'ベストアンサーに選ぶ', answer_path(id: answer.id), method: :put, data: {confirm: 'ベストアンサーに選びますか？'}, class: "btn btn-primary" %>
		        		<% end %>
		        	<% end %>
	        	<% end %> 
	        	<% if answer.questioner_response %>
	        	  <div class="response_to_answer bg-info">
	        	  	<%= simple_format("質問者からの返信\n" + answer.questioner_response.content) %>
	        		</div>
	        	<% end %>
	        	<hr>
	        	</div>
        <% end %>
        
        
      </div>
    </div>
    <div class="col-md-3">
    	<%= render 'layouts/sidebar', model: @question %>
		</div>
  </div>
</div>