<style>
  .content{
    list-style-type:none;
  }
  .questions{
    list-style-type:none;
  }
  .questions p{
    display: inline;
    margin:80px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'layouts/user_navbar' %>
      <table class="table">
        <thead>
            <tr>
                <th>回答日時</th>
                <th>回答内容</th>
                <th>お気に入りされた数</th>
            </tr>
        </thead>
        <tbody>
            <% @answers.each do |answer| %>
              <tr>
                <td><%= answer.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H時%M分") %></td>
                <td><%= link_to answer.content.truncate(30), question_path(answer.question.id) %></td>
                <td><%= answer.answer_likes.count %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <%= paginate @answers %>
    </div>
  </div>
</div>