<div class="container">
  <div class="row">
    <div class="col-md-12">
        <%= render 'layouts/user_navbar' %>
          <%= form_for(@user) do |f|%>
          <div class="media">
            <div class= "pull-left">
              
            <% if @user.image_name_identifier != "default.jpg" %>
              <%= image_tag @user.image_name.url, :size => "200x200" %>
            <% else %>
              <%= image_tag "/images/user_image/default.png" %>
            <% end %>
            <%= f.file_field :image_name %>
            </div>
            <div class="media-body">
            <%= f.label :name %>
            <%= f.text_field :name, class:"form-control" %>
            
            <%= f.label :email %>
            <%= f.email_field :email, class:'form-control' %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class:'form-control' %>
            
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            
            <%= f.submit '変更する', class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>